// FooPicker styles

// Typography
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);

$white: #fff;
$base-blue: #1fbad6 !default;
$base-black: #666 !default;
$base-border: #ccc;
$picker-shadhow: #bbb;
$header-color: #f2f2f4;
$today-color: #e4e4e4;

$base-padding: 5px;
$base-margin: 10px;
$base-width: 245px;

.foopicker {
  background: $white;
  border: 1px solid $base-border;
  border-radius: 3px;
  box-shadow: 0 0 3px $picker-shadhow;
  color: $base-black;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: $base-margin;
  width: $base-width;

  table {
    width: 100%;
  }

  th,
  td {
    text-align: center;
  }

  @at-root #{&}__calendar {
    font-size: 13px;
    padding: $base-padding;
  }

  @at-root #{&}__day {
    border-radius: 100%;
    cursor: pointer;
    padding: 5px 2px;
    transition: all .2s ease-out;
    width: 22px;

    &:hover {
      background: $base-blue;
      color: $white;
    }

    @at-root #{&}--today {
      background: lighten($base-blue, 45%);
      color: $base-black;
    }

    @at-root #{&}--selected {
      background: $base-blue;
      color: $white;
    }

    @at-root #{&}--disabled {
      background: lighten($base-black, 50%);
      color: lighten($base-black, 35%);
      cursor: not-allowed;

      &:hover {
        background: lighten($base-black, 50%);
        color: lighten($base-black, 35%);
      }
    }
  }

  @at-root #{&}__week {
    font-size: 1em;
    font-weight: 600;
  }

  @at-root #{&}__header {
    background: $header-color;
    padding: 3 * $base-padding;
    text-align: center;

    div {
      display: inline-block;
    }
  }

  @at-root #{&}__arrow {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 24px;
    outline: 0;
    position: absolute;
    top: 31px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 14px;

    @at-root #{&}--next {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN5wAADecBmRSqJgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADWSURBVBiVfY8xSkNBFEXPe0njxGB24R4srM1YjFhMGYjYuRxLMWI7lZ8EDAqKiN8mC7B2BULMiPh/noUYvoW57Tncy5Xx+OZZhFfVauC9/6QRFeEFiMtl6yqlcuMPzPntGLgE2XPufZrS/eYKxhjr2aw8EuEC2HXu67ooii6A/FpmJpPJ7akIJ0CpWvWludEUzLhT1uS/2ifVygtASqnV6fTOzBiCPNZ13g8hzPUHbI3MGIrwkHPbhxDmAG3neudmDMCmi0X3MMadj9VPM7aBpFofNAHAN0NkW9nLdIQRAAAAAElFTkSuQmCC);
      right: 14px;
    }

    @at-root #{&}--prev {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN5wAADecBmRSqJgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADXSURBVBiVXZAxTsNAFETfmMRWvL4C3GVRIlFElFRYHABxB1+CBlFEFBFsgQJrWTIIQRWq9NyDLrG8FGDkeNqn+TPzxUBVVSVtO7oLgaOoD5xbT9r2YAWcSXypA977VIqfQFPg3phxHgHUdW0g8aBpCGFpzDi31jaRc+/ZbqdS4jgEbjebz9xa2wDI+5e3P3A9n8+uJIUuaq/QUFEch1PgQ+KyLF9viqL4N6grtN3q+fd8WGZZfGGtbQZTkhUwk/SQpqNz9TOcW0/S9PsRdAIs9mD/fRAOfwCC1k8eHoJobwAAAABJRU5ErkJggg==);
      left: 18px;
    }
  }

  @at-root #{&}__month {
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
  }
}
